@charset "UTF-8";
@import url(root.css);

.parallax-image {
    background: var(--cor-1) right center fixed no-repeat;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px var(--cor-2);
    color: var(--cor-1);
}

.parallax-image > p {
    background-color: var(--cor-2);
    text-shadow: 1px 1px var(--cor-3);
    width: fit-content;
}

#image-1 {
    background-image: var(--parallax-fundo-1);
}

#image-2 {
    background-image: var(--parallax-fundo-2);
}

.link {
    font-weight: bold;
    color: var(--cor-1);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

body {
    background: var(--imagem-fundo) left center;
    color: var(--cor-1);
    font-family: var(--fonte-1);
}

header, footer {
    background: var(--cor-3);
}

p, strong, li {
    font-size: 0.9em;
}

header {
    text-align: center;
    padding: 50px 0;
}

header > h1 {
    font-family: var(--fonte-2);
    font-variant: small-caps;
    font-size: 2.7em;
    margin: 0 20px 16px;
}

main {
    font-family: var(--fonte-3);
    max-width: 800px;
    margin: auto;
}

main > div {
    background: var(--cor-1);
    color: var(--cor-3);
    padding: 12vh 0 12vh 20px;
}

main > div > p {
    line-height: 2em;
    padding: 20px;
}

main > div > p:nth-child(2) {
    padding-top: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer > strong {
    display: inline-block;
    margin: 10px 0;
}

footer > ul#contact-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 220px;
    margin: auto;
    list-style: none;
}

footer > ul#contact-list > li {
    margin: 10px 0;
}

@media (min-width: 426px) {
    header > h1 {
        font-size: 3.6em;
    }

    p, strong, li {
        font-size: 1.2em;
    }
}

@media (min-width: 769px) {
    header > h1 {
        font-size: 4.5em;
    }

    p {
        font-size: 1.5em;
    }
}